*.class
*.log
*.bak
.DS_Store


# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
projects/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
*.bin
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/
null
